.logoContainer {
  overflow-x: scroll;
}

.noLogo {
  margin-top: 80px;
}

text {
  font-size: 4em;
  font-family: monospace;
}

svg {
  border-bottom: 3px solid #3b3c8c5e;
  > g:nth-child(1) {
    display: none;
  }

  > g:nth-child(2) {
    display: none;
  }

  > g:nth-child(3) {
    transform: translate(0, 80px);
  }
}

.lblContainer {
  display: none !important;
}

.labels-container {
  font-family: monospace;
  font-size: 16px;
  line-height: 1em;
}

.label {
  margin-bottom: 5px;
}

.cnk {
  padding-right: 0 !important;
}

#psv > div > div {
  overflow-x: unset !important;
}


.cell {
  padding-top: 1.5px
}

/* Works on Firefox */
//#alignment {
//  scrollbar-width: thin;
//  scrollbar-color: blue orange;
//}

*::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #a9a9b5;
}

